<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <center><h1 style="color: brown;">My page from views ejs here</h1></center>
    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
      <h1>My  quotes crud app</h1>
      <ul class="quotes">

        <% for(var i =0 ; i< quotes.length ;i++){%>
          <li class="quotes">
            <!--output form iterated quotes object name-->
            <span>
              <span><%=quotes[i].name %> </span>: 
              <!-- for quotes-->
              <span><%=quotes[i].quote %></span>
          </li>
          <% } %>
      </ul>

      <!--For updates-->
      <div>
        <h2>Update some of the quotes</h2>
      <p>Replace a Monday quote with a Friday quote </p>
      <button id="update-button">Replace Mondays' quote</button>
      </div>

      <div>
        <h2>Remove Monday's quote</h2>
        <p>
          Delete one monday's quote. Does nothing if there are no more monday's quote
        </p>
        <button id="delete-button">Delete monday's quote</button>
      </div>

      <div id="message"></div>
      <script src="/main.js"></script>


    </form>
</body>
</html>